.navbar {
    background-color: #f49ac2;
    border-bottom: solid 1px #cc9af4;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.navbar a {
    color: white;
}
.navbar-toggler{
    float:right; 
}
.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}
body {
    background-color: #9af4cc;
    background-image: url("/static/img/background.png");
    color: #808080;
    font-family: 'Courgette', cursive;
    //font-size: 50px;    
}
.page-footer {
    background-color: #f49ac2;
    border-top: solid 2px #cc9af4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.page-footer a, .page-footer div {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}


.backing {
    background-color: rgba(204, 154, 244, .2);
}
.btn-primary {
    background-color: #f49ac2;
    color: white;
    border-color: #cc9af4;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff !important;
    background-color: #cc9af4 !important;
    border-color: #cc9af4 !important;
}
