.backing {
    padding: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.pointvalue{
    text-align: center;
}
.form-control{
    display:inline !important;
    width:3em;
    height:1.5em;
    margin-left: 5px;
    margin-right: 5px;
}
td{
    padding-left: 7px;
    padding-right: 7px;
}
.btn {
    margin-top: 10px;
    margin-left: 10px;
    width: 10%;
    color: white;
}
