.egg{
    height: 40vh;
}
p {
    text-align: left;
}
.progress{
    margin: auto;
    width:500px;
    height: 30px;
    font-size: 18pt;
}

.progress-bar{
    background-color: #cc9af4;
}
.card {
    width: 70vw;
    max-width: 700px;
}
.btn-primary {
    margin: 30px;
    font-size: 25px;
    width: 200px;
    height: 75px;
    padding-top: 17px;
}
