<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css' ) }}">
    <link rel="icon" href="{{ url_for('static', filename='img/eggs/egg_spotted.png' )}}" type="image/x-icon" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js' ) }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js' ) }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

    {% block css %} {% endblock %}
    <title>
      {% block title %} {% endblock %}
    </title>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navby" role="navigation">
      <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/eggs/egg_spotted.png' ) }}" alt="tamalogo" height="44px"> Tamagogo</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img src="{{ url_for('static', filename='img/icon_dropdown.png' ) }}" alt="x" /></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
	        <li class="nav-item">
	          <a class="nav-link" href="https://github.com/jennifer4569/tamagogo">Source Code</a>
          </li>
          {% if "uname" in session %}
          <li class ="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% endif %}
        </ul>

      </div>
    </nav>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Tamagogo!</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>
              {% set messages = get_flashed_messages() %}
              {% for message in messages %}
              {{ message }} <br />
              {% endfor %}
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% if messages %}
    <script> $("#myModal").modal()</script>
    {% endif %}


    {% block body %} {% endblock %}

    <footer class="page-footer font-small">
      <div class="footer-copyright text-center">© 2019 Team (JZ)²: <a href="http://github.com/jzaia18"> Jake Zaia </a> & <a href="http://github.com/jennifer4569"> Jennifer Zhang </a>
      </div>
    </footer>


    {% block js %} {% endblock %}
  </body>

</html>
