{% extends "base.html" %}

{% block title %}My Collection -- Tamagogo!{% endblock %}

{% block css %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/collection.css' ) }}"> {% endblock %}

{% block body %}

<div class="backing rounded card shadow">
  <center> <h1> Collection </h1> </center>

  <div class="container">
    {% for tier in info %}
    <br /><br />
    <h3 style="display:block">
      {{["Common", "Uncommon", "Rare", "Super Rare", "Ultimate", "Legendary"][loop.index-1]}}
    </h3>
    <div class="row tier{{loop.index}}">
      {% for creature in tier %}
      <div class="col-sm-6 col-lg-3 box">
        <img src="{{creature['creature_img']}}" />
        <p>
          {{creature['name']}}: {{creature['count']}}
        </p>
      </div>
      {% endfor %}
    </div>
    {% endfor %}

    <br />
    <a type="button" class="btn btn-primary" href="/home" role="button">Home</a>
  </div>

</div>
{% endblock %}
